body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #90CAF9;
}

button {
	outline: none;
}

main {
	display: flex;
	margin: 50px 0;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	min-height: 80vh;
	background-color: #FAFAFA;
	border-radius: 10px;
	position: relative;
}

form {
	box-sizing: border-box;
	flex: 1;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 3%;
	padding-bottom: 3%;
}

/* Form Header */

#form-header {
	box-sizing: border-box;
	position: relative;
	background-color: #673AB7;
	width: 100%;
	color: #ffffff;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3% calc(3% + 0.75em);
	border-radius: 10px 10px 0 0;
}

#form-header h1 {
	margin: 0;
	font-weight: 500;
}

#form-header h3 {
	font-weight: 300;
	margin: 0;
	margin-top: 8px;
}

#free-tag {
	position: absolute;
	height: 113px;
	width: 113px;
	top: -47px;
	right: -20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E91E63;
	color: #ffffff;
	border-radius: 50%;
	transform: rotate(20deg);
}

#free-tag h2 {
	font-weight: 500;
	margin: 4px;
}

#free-tag span {
	font-weight: 300;
	font-style: italic;
	opacity: 0.8;
}

/* Form Elements */

fieldset, legend {
	margin: 2% 0;
	border-radius: 5px;
	border: 2px solid #cfd8dc;
	background-color: #ECEFF1;
}

legend {
	padding: 0.8%;
	font-size: 1.2em;
	font-weight: 500;
	color: #E91E63;
}

legend::before {
	position: absolute;
	left: -0.6em;
	width: 1.2em;
	height: 1.2em;
	background-color: #E91E63;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	border: 2px solid #CFD8DC;
}

.input-section {
	display: flex;
	flex-direction: column;
}
.input-section:first-of-type label {
	margin-top: 3px;
}

.input-section label {
	margin-top: 0.9em;
	margin-bottom: 3px;
}

.input-section input {
	border: none;
	border-radius: 3px;
	height: 2em;
	margin: 3px 0;
	text-indent: 0.8em;
	font-size: 1.1em;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #546E7A;
	box-shadow: 0 0 10px #CFD8DC	;
}

.input-section input:focus {
	outline-color: #E91E63;
}

span#email-note {
	font-size: 0.9em;
	font-weight: 300;
	color: #546E7A
}

/* Checkbox and label */

div#checkbox-container {
	display: flex;
	align-items: center;
	margin: 1em 0;
	margin-top: calc(1em - 2%);
}

input#priv-terms {
	-webkit-appearance: none;
	border: none;
	border-radius: 2px;
	background-color: #ECEFF1 ;
	border: 2px solid #CFD8DC;
	outline: none;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

input#priv-terms:checked {
	background-color: #E91E63;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #E91E63;
}

input#priv-terms:checked::after {
	box-sizing: border-box;
	font-size: 1.3em;
	color: #ffffff;
	font-family: 'Material Icons';
	font-weight: bold;
	content: 'done';
	-webkit-font-feature-settings: 'liga';
}

div#checkbox-container label a {
	color: #03A9F4;
	text-decoration: none;
}

/* Submit Button */

form button {
	border: none;
	border-radius: 5px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.3em;
	color: #FFFFFF;
	padding: 1%;
	cursor: pointer;
	background-color: #E91E63;
}


form button:active {
	background-color: #E91E63DD;
}

/* Mobile Query */

@media screen and (max-width: 1024px) {
	form {
		justify-content: flex-start;
	}

	main {
		width: 90%;
		margin: 7% 0;
	}

	#form-header {
		 height: 12vh;
		 font-size: 1.5em;
	}

	#free-tag {
		font-size: 1.1em;
		height: 20vw;
		width: 20vw;
	}

	fieldset {
		font-size: 2em;
	}

	fieldset .input-section input {
		height: 2.5em;
	}

	/* Checkbox Section */
	div#checkbox-container {
		font-size: 1.7em;
	}

	div#checkbox-container input#priv-terms {
		height: 1.5em;
		width: 1.5em;
		font-size: 1.4em;
		margin-right: 8px;
	}

	/* Submit Button */
	form button {
		height: 5vh;
		font-size: 2em;
	}
}
